@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Black Han Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

